@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --color-one: #EFEFEF;
    --color-text: #232323;
    --font: 'DM Sans', 'sans-serif';
    --color-two: #FF8484;
    --color-three: #F7D9C4;
}

body{
    font-family: var(--font);
}

.container{
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
    display: block;
}
.container-fluid{
    width: 100%;
    /* max-width: 1140px; */
    padding: 0 32px;
}

@media screen and (max-width: 1200px){
    .container{
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .container{
        max-width: 720px;
    }
}
@media (max-width: 768px) {
    .container{
        max-width: 540px;
    }
}
@media (max-width: 576px) {
    .container{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}
